body {
    background-color: black;
    perspective: -1000px;
    overflow: hidden;
    perspective: 500px;
}

div {
    margin: 0 auto 0;
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    z-index: 0;
    animation-name: frontend-wars;
    animation-duration: 30s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    transform: rotateX(40deg) translateY(800px);
}

span {
    margin: 50px 0 0 0;
    color: orange;
    font-size: 60px;
    line-height: 80px;
}

@keyframes frontend-wars {
    0% {
        transform: rotateX(40deg) translateY(800px);
    }

    100% {
        transform: rotateX(40deg) translateY(-800px);
    }
}